.body {
  background: linear-gradient(rgba(91, 87, 115), rgba(0, 0, 0, 1));
  color: white;
  flex: 0.83;
  height: 100vh;
  overflow-y: overlay;
}

.body__songrow {
  margin-bottom: 60px;
}

.body::-webkit-scrollbar {
  display: none;
}

.body__info {
  align-items: flex-end;
  display: flex;
  padding: 10px;
}

.body__info > img {
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  height: 18vw;
  margin: 0 20px;
  margin-top: 15px;
}

.body__infoText {
  flex: 1;
}

.body__infoText > strong {
  text-transform: uppercase;
}

.body__infoText > h1 {
  font-size: 80px;
  margin: 0 0 10px;
}

.body__infoText > p {
  font-size: 14px;
  margin: 0;
}

.body__icons {
  align-items: center;
  display: flex;
}

.body__icons > .MuiSvgIcon-root {
  cursor: pointer;
  margin-right: 20px;
}

.body__shuffle {
  font-size: 80px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  transition: transform 0.3s ease !important;
}

.body__shuffle:hover {
  transform: scale(1.08);
}

.body__songs {
  margin: 20px -30px;
}

.body__tablesticky {
  vertical-align: middle;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  margin-top: 0px;
}

.body__tablestickystick {
  background-color: #181818;
  z-index: 2;
}

.body__tableheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-left: 40px;
  margin-right: 40px;

  font-size: 14px;
  font-weight: 100;
  opacity: 0.8;
}

.body__tableColumnTitle {
  margin-left: 10px;
}

.body__tableColumnFour {
  margin-right: 15px;
  height: 14px;
  size: 10px;
}

.body__hr {
  display: flex;
  background: none;
  height: 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  width: 92%;
  margin: 5px auto;
  margin-bottom: 10px;
}
