.body {
  background: linear-gradient(rgba(91, 87, 115), rgba(0, 0, 0, 1));
  color: white;
  flex: 0.83;
  height: 100vh;
  overflow-y: overlay;
  padding: 10px;

  margin-bottom: 55px;
}

.body::-webkit-scrollbar {
  display: none;
}

.body__info {
  align-items: flex-end;
  display: flex;
  padding: 10px;
}

.body__info > img {
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  height: 20vw;
  margin: 0 20px;
}

.body__infoText {
  flex: 1;
}
.body__infoText > strong {
  text-transform: uppercase;
}

.body__infoText > h2 {
  font-size: 48px;
  margin: 0 0 10px;
}

.body__infoText > p {
  font-size: 14px;
  margin: 0;
}

.body__icons {
  align-items: center;
  display: flex;
}

.body__icons > .MuiSvgIcon-root {
  cursor: pointer;
  margin-right: 20px;
}

.body__shuffle {
  font-size: 80px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  transition: transform 0.3s ease !important;
}

.body__shuffle:hover {
  transform: scale(1.08);
}

.body__songs {
  margin: 20px -30px;
}
