.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: transparent;
}

.header__sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  /* background: #545b56;
   */
  background: teal;

  z-index: 3;
}

.header__left {
  align-items: center;
  background-color: white;
  border-radius: 50px;
  color: gray;
  display: flex;
  flex: 0.5;
  min-width: 55px;
  overflow: hidden;
  padding: 9px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.header__left > input {
  border: none;
  outline: none;
  width: 100%;
}

.header__right {
  align-items: center;
  display: flex;

  background-color: black;
  border-radius: 50px;
  padding-left: 3px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: fit-content;
  width: auto;
  margin-right: 5px;
}

.header__right > h5 {
  margin-left: 10px;
}
.MuiAvatar-root {
  width: 25px !important;
  height: 25px !important;
}
