.header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px;
}

.header__left {
  align-items: center;
  background-color: white;
  border-radius: 30px;
  color: gray;
  display: flex;
  flex: 0.5;
  min-width: 55px;
  overflow: hidden;
  padding: 10px;
}

.header__left > input {
  border: none;
  outline: none;
  width: 100%;
}

.header__right {
  align-items: center;
  display: flex;
}

.header__right > h4 {
  margin-left: 10px;
}
