.sidebarOption {
  align-items: center;
  color: grey;
  cursor: pointer;
  display: flex;
  height: 40px;
  transition: color 200ms ease-in;
}

.sidebar > hr {
  border: 1px solid #282828;
  margin: 10px auto;
  width: 90%;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption__icon {
  padding: 0 10px;
}

.sidebarOption > p {
  font-size: 14px;
  margin: 10px 0 0 20px;
}
