.songRow {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  flex: left;
  justify-content: space-between;

  margin-left: 20px;
  padding: 5px 20px;
  transition: all 0.3s ease !important;
  z-index: 100;
}

.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}

.songRow__left {
  display: flex;
  align-items: center;
  flex: 0.35;
  /* Instead of flex could have used width also for left, middle and right */
}

.songRow__middle {
  display: flex;
  flex: 0.53;
}

.songRow__right {
  display: flex;
  flex: 0.05;
}

.songRow__serialNo {
  margin-right: 15px;
}

.songRow__title {
  display: flex;
}

.songRow__albumImage {
  object-fit: contain;
  margin-top: 5px;
  height: 35px;
  width: 35px;
}

.songRow__info {
  margin-left: 10px;
}

.songRow__info > h1 {
  font-size: 14px;
}

.songRow__info > p {
  color: #ffffff;
  font-size: 14px;
  margin-top: 3px;
  line-height: 16px;
  font-weight: 400;
}

.songRow__albumName {
  justify-content: left;
  margin-left: 100px;
  font-size: 14px;
}
